body{
  background: rgb(250, 250, 250)
}

nav {
  z-index: 20;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 77px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0,0, 0, .0975);
}

.nav-left, .nav-center, .nav-right {
  display: inline-block;
}

.nav-left {
  padding-left: 13%;
}

.nav-left i {
font-size: 35px;
display: inline-block;
border-right: 1px solid #262626;
padding-right: 15px;

}


.nav-left h1 {
  position: relative;
  bottom: 5px;
  display: inline-block;
  padding-left: 15px;
  font-family: cursive;
}

.anv-left h1, i:hover{
  cursor: pointer;
}

.nav-center{
  margin-left: 13%;
  width: 215px;
}

nav .nav-center input {
  position: relative;
  width: 100%;
  height: 28px;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  font-size: 14px;

}

.nav-center span {
  z-index: 5;
  position: relative;
  left: 70px;
  top: 25px;

}

.fa-search {
color: #999;
font-size: 12px;
}

.nav-right{
  margin-left: 15%;
  width: 180px;

}

nav .nav-right i{
  margin: 0 15px;
  font-size: 23px;
  color: #999;

}

#user-profile {
  position: relative;
  top: 140px;
  height: 152px;
  width: 80%;
  margin: auto;
}

.user-pic  {
height: 152px;
width: 152px;
border-radius: 50%;
border: 1px solid rgba(234,199, 68);
margin-left: 9%;
}
.user-info {
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
  margin-left: 10%;

  }
/* Row-1 fee99 */
  #user-profile .user-info .row-1  h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
    font-family: sans-serif;
    margin: 0px;
    margin-right: 5%;
  }

  /* Edit profile button  */

  #user-profile .user-info .row-1 button {
    height: 30px;
    padding: 0px 24px;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    font-weight: 500px;
    position: relative;
    bottom: 5px

  }

  #user-profile .user-info .row-1 button:hover{
    cursor: pointer;

  }

  /*Setting Icons  */
#user-profile .user-info .row-1 a .fa-cog {
  color: #262626;
  margin-left:  3%;
  font-size: 30px;

}

#user-profile .user-info .row-2{
  padding-top: 3%;
}

#user-profile .user-info .row-2 h5 {
  display: inline-block;
  margin: 0px;


}

#user-profile .user-info .row-2 h5, a {
  font-size: 18px;
  color: #262626;
  padding-right: 8%;
  font-weight: 500;
  font-family: sans-serif;
}

#user-profile .user-info .row-2 span{
  font-weight: 600;

}

.row-3 p{
  font-size: 17px;
  color: #262626;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 5S%;
}

.row-3 p span{
  font-weight: 600;
}
 /* Hoover affects */

 #posts {
   position: relative;
   top: 182px;
   width: 80%;
   margin: auto;
   border-top: 1px solid rgba(239, 239, 239);

}

.posts-headings {
  /* border: 1px solid blue; */
  text-align: center;
  width: 90%;
  margin: 0 auto ;
}

#posts .posts-headings h5 {
  display: inline-block;
  margin-right: 5%;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 2%;
}

#posts .posts-headings h5:nth-child(1) {
border-top: 1px solid #262626;

}

#posts .posts-headings h5:nth-child(2),  #posts .posts-headings h5:nth-child(3),{
  color: #999;
}

.image-postings {
  width: 100%;
  text-align: center;
}

.image-postings img {
  height: 293px;
  width: 293px;
  margin: 1%;
}
